<h1><%= t('page_title.edit_task')%></h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to t('forms.button.show'), @task %> 
  <br>
  <%= link_to t('forms.button.goback'), tasks_path %>
</div>
