<% if current_user %>
  <nav class="relative flex items-center justify-between px-2 py-3 bg-rose-200 mb-3">
    <div class="container px-4 mx-auto flex items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <p class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-rose-500" href="#pablo">
          <%= current_user.username%>
        </p>
      </div>
      <div class="flex">
        <% if current_user.admin? %>
          <div class="flex flex-col lg:flex-row list-none ml-auto" id="admin_users_path">
            <%= link_to admin_users_path, class:"bg-stone-700 text-white active:bg-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md hover:opacity-75 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" do %>    
              <i class="fa-solid fa-gears" style="color:#f8fafc"></i>
            <% end %>
          </div>
          <% end %>
        <div class="flex flex-col lg:flex-row list-none ml-auto" id="example-navbar-warning">
          <%= button_to logout_path, method: :delete, class:"bg-rose-700 text-white active:bg-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md hover:opacity-75 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" do %>    
            <i class="fa-solid fa-right-from-bracket" style="color:#f8fafc"> </i>
          <% end %>
        </div>
      </div>

    </div>
  </nav>
<% end %>